<div class="container">
  <div class="row">
    <div class="card col-md-3 box-shadow contact" *ngFor="let contact of contacts">
      <img *ngIf="contact.photo" class="card-img-top contact" data-src="{{contact.photo}};text={{contact.name}}"
        alt="{{contact.name}}" src="{{contact.photo}}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-title">{{contact.name}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onView(contact)">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onEdit(contact)">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDelete(contact)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
